@model _8_PaginationTagHelper.Models.IndexViewModel
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<h2>Список пользователей:</h2>
<table class="table">
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Компания</th>
    </tr>
    @foreach (var item in @Model.Users)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Company!.Name</td>
        </tr>
    }
</table>
<page-link page-action="Index" page-model=@Model.PageViewModel></page-link>